{% extends "base.html" %}
{% block title %}命盘{% endblock %}
{% block content %}
<div id="chart-loading" class="loading-box">正在排盘…</div>
<div id="chart-root"></div>
<div class="actions">
  <a href="/" class="btn btn-secondary">重新排盘</a>
</div>
<div id="privacy-modal" class="modal hidden">
  <div class="modal-backdrop"></div>
  <div class="modal-panel">
    <h3>分享提示</h3>
    <p>链接包含编码后的出生信息，请谨慎分享给可信任的人。</p>
    <div class="modal-actions">
      <button type="button" class="btn btn-secondary" id="modal-cancel">取消</button>
      <button type="button" class="btn btn-primary" id="modal-confirm">仍要复制</button>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.js"></script>
<script>
(function () {
  Wenyuan.initChartPage();
})();
</script>
{% endblock %}
